git+https://github.com/Joelkb/cinemagoer
pyrogram
tgcrypto
pymongo
motor
marshmallow==3.14.1
umongo
requests
bs4
cinemagoer
shortzy
Flask==2.2.2
gunicorn==20.1.0
aiohttp
pynewtonmath
pytz
asyncio
async